<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s5.festivaman">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_1000x1000"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppLoadingActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".NewUserActivity" />
        <activity android:name=".AccountInfoActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".GroupsActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".MeetingsActivity" />
        <activity android:name=".add_friend" />
        <activity android:name=".modifaccount.user_name" />
        <activity android:name=".modifaccount.password" />
        <activity android:name=".modifaccount.email" />
        <activity android:name=".modifaccount.date"></activity>
    </application>

</manifest>